@model Web.Areas.Admin.Models.PostModel

@{
	ViewBag.Title = "New post";
}

<div>
@using (Html.BeginForm("Add", "Posts", FormMethod.Post))
{
	@Html.ValidationSummary()
	
	@Html.EditorForModel()

	<button type="submit">Submit</button>
	@Html.ActionLink("Back to posts", "Index")
}
</div>