@model Web.Areas.Admin.Models.PostModel

@{
	ViewBag.Title = "Edit post";
	Layout = null;
}

@using (Html.BeginForm("Edit", "Posts", FormMethod.Post))
{
	@Html.ValidationSummary()
	
	@Html.EditorForModel()

	<button type="submit">Submit</button>
	@Html.ActionLink("Back to posts", "Index")
}
