@using Cassette.Views
@model Web.Areas.Admin.Models.EditPostModel

@{
	ViewBag.Title = "Edit post";
}

@{
	Bundles.Reference("/assets/js/tinymce-4.1.9.min.js");
	Bundles.Reference("/assets/js/tinymce/themes/modern/theme.min.js");
}

<div>
	@using (Html.BeginForm("Edit", "Posts", FormMethod.Post))
	{
		@Html.ValidationSummary()
	
		@Html.EditorForModel()

		<button type="submit">Submit</button>
		@Html.ActionLink("Back to posts", "Index")
	}
</div>

<script type="text/javascript">
	tinymce.init({
		selector: "textarea",
		skin_url: '/assets/js/tinymce/skins/lightgray',
		external_plugins: {
			"code": "/assets/js/tinymce/plugins/code/plugin.min.js"
		}
	});
</script>