<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="false" throwExceptions="true">
	<targets>
		<target name="log" type="AsyncWrapper" queueLimit="5000" overflowAction="Block">
			<target type="File" fileName="${basedir}/logs/log.log">
				<layout xsi:type="CsvLayout">
					<!-- CSV Options -->
					<quoting>Auto</quoting>
					<withHeader>False</withHeader>
					<delimiter>Tab</delimiter>
					<column layout="${longdate}" />
					<column layout="${level}" />
					<column layout="${message}" />
					<column layout="${exception:format=type,message,StackTrace}" />
				</layout>
			</target>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Warn" writeTo="log" />
	</rules>
</nlog>