<nlog autoReload="false">
	<targets>
		<target name="fileInfo" type="AsyncWrapper" queueLimit="5000" overflowAction="Block">
			<target type="File" fileName="${basedir}/logs/info.log" />
		</target>
		<target name="fileWarn" type="AsyncWrapper" queueLimit="5000" overflowAction="Block">
			<target type="File" fileName="${basedir}/logs/warn.log" />
		</target>
		<target name="fileDebug" type="AsyncWrapper" queueLimit="5000" overflowAction="Block">
			<target type="File" fileName="${basedir}/logs/debug.log" layout="${longdate}|${level:uppercase=true}|${threadid}|${logger}|${message}|${exception:Message,ShortType,Method,StackTrace}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="fileInfo" />
		<logger name="*" minlevel="Warn" writeTo="fileWarn" />
		<logger name="*" minlevel="Trace" writeTo="fileDebug" />
	</rules>
</nlog>