<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="cassette" type="Cassette.CassetteConfigurationSection, Cassette" requirePermission="false"/>
	</configSections>
	<appSettings>
		<add key="webpages:Version" value="2.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="PreserveLoginUrl" value="true"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	</appSettings>
	<connectionStrings configSource="ConnectionStrings.config" />
	<cassette debug="false" cacheDirectory="App_Data/cassette"/>
	<system.web>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/LogIn" timeout="2880" />
		</authentication>
		<membership defaultProvider="BlogMembershipProvider">
			<providers>
				<clear />
				<add name="BlogMembershipProvider" type="Web.Security.BlogMembershipProvider, Web" />
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="BlogRoleProvider" cacheRolesInCookie="false">
			<providers>
				<clear />
				<add name="BlogRoleProvider" type="Web.Security.BlogRoleProvider, Web" />
			</providers>
		</roleManager>
		<customErrors mode="Off"/>
		<httpRuntime/>
		<compilation debug="true" targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="4.0">
			<namespaces>
				<add namespace="System.Web.Helpers"/>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Web.WebPages"/>
				<add namespace="Cassette.Views"/>
			</namespaces>
		</pages>
		<httpModules>
			<add name="CassetteHttpModule" type="Cassette.Aspnet.CassetteHttpModule, Cassette.Aspnet"/>
		</httpModules>
		<httpHandlers>
			<add path="cassette.axd" verb="*" type="Cassette.Aspnet.CassetteHttpHandler, Cassette.Aspnet"/>
		</httpHandlers>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
			<add name="CassetteHttpHandler" path="cassette.axd" preCondition="integratedMode" verb="*" allowPathInfo="true" type="Cassette.Aspnet.CassetteHttpHandler, Cassette.Aspnet"/>
		</handlers>
		<modules>
			<add name="CassetteHttpModule" type="Cassette.Aspnet.CassetteHttpModule, Cassette.Aspnet"/>
		</modules>
		
		
		<rewrite>
			<rules>
				<rule name="Redirect to nz2live.com" patternSyntax="ECMAScript" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_HOST}" pattern="^www\.nz2live\.com$" />
					</conditions>
					<action type="Redirect" url="http://nz2live.com/{R:0}" />
				</rule>
			</rules>
		</rewrite>
		
		
	</system.webServer>
</configuration>