<h2>О нас</h2>

<blockquote>
	<p>Этот блог есть частичное и не всегда верное отражение нашей теперешней жизни в Новой Зеландии.</p>
	<small>9 января 2013</small>
</blockquote>

<img src="http://farm9.staticflickr.com/8366/8367298842_b06b8a4d2d_z.jpg" alt="Мы"/>

<h3>И всё?</h3>

<p>Так уж случилось, что здесь мы пишем преимущественно для родителей и друзей. И уж они-то о нас знают предостаточно.</p>

<p>А незнакомому читателю мы имеем сообщить что мы, Глеб Тетерин и Альбина Курмаева, оба выросли в славном городе Челябинске, оба закончили ЮУрГУ и первая мысль об иммиграции появилась у нас где-то в 2011 году.</p>

<p>И раз уж этот раздел все равно никто не читает, то на этом и остановимся до тех пор, пока у одного из нас не появится желание написать здесь что-то внятное.</p>

<p>Если же вы хотите знать больше, или, может быть, спросить о чем-то, то можете написать нам на <script type="text/javascript">eval(unescape('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%22%6d%61%69%6c%74%6f%3a%6b%75%72%6d%61%65%76%61%40%67%6d%61%69%6c%2e%63%6f%6d%22%3e%6b%75%72%6d%61%65%76%61%40%67%6d%61%69%6c%2e%63%6f%6d%3c%2f%61%3e%27%29%3b'))</script> или <script type="text/javascript">                                                                                                                                                                           	eval(unescape('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%22%6d%61%69%6c%74%6f%3a%67%6c%65%62%2e%74%65%74%65%72%69%6e%40%67%6d%61%69%6c%2e%63%6f%6d%22%3e%67%6c%65%62%2e%74%65%74%65%72%69%6e%40%67%6d%61%69%6c%2e%63%6f%6d%3c%2f%61%3e%27%29%3b'))</script>, мы обязательно ответим!</p>