@using Cassette.Views
@{
    Layout = null;
}

@{
	Bundles.Reference("/assets/js/jquery-1.9.1.min.js");
	Bundles.Reference("/assets/js/underscore-min.js");
	
	Bundles.Reference("/Areas/Admin/assets/css/admin.css");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<title>Admin | @ViewBag.Title</title>
	@Bundles.RenderScripts()
	@Bundles.RenderStylesheets()
</head>
<body>
    @RenderBody()
</body>
</html>
